.form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;

  &--text {
    color: $dark-gray;
    font-family: Gotham SSm A, Gotham SSm B, sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 13px;
    border: 1px solid $lighter-gray;
    border-radius: 8px;

    &:focus {
    	outline: none;
    }
  }

  &-label--text {
    color: $dark-gray;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 8px;
  }

  &--checkbox {
    position: relative;
    width: 0;
    height: 0;

    &::before {
      position: absolute;
      bottom: 0;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: 1px solid $lighter-gray;
      content: "✓";
      cursor: pointer;
      color: $white;
      text-align: center;
      font-size: 17px;
    }
  }

  &--checkbox:checked {
    &::before {
      background-color: $azure;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &-label--checkbox {
    color: $dark-gray;
    font-size: 14px;
    font-weight: 400;
    padding-left: 35px;
  }

  &--error {
    color: #f12e2e;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
  }
}
